body{
background-color: #5A86D5;
}

#nav-menu ul
{
list-style: none;
padding: 0;
margin: 0;
}

#nav-menu li a{
background: url(bluerectangle.jpg) #000000 bottom left repeat-x;
height: 2.2em;
line-height: 2em;
width: 15em;
display: block;
border: 0.2em solid #D8D8D8;
color: white;
font-family: tahoma, geneva, sans-serif;
font-weight: bold;
text-decoration: none;
text-align: center;
}

#nav-menu li a{
}		

#nav-menu{
position: linear;
} 

#nav-SOS ul{
list-style: none;
padding: 0;
margin: 0;
}

#nav-SOS li a{
background: url(redrectangle.jpg) #000000;
height: 4em;
line-height: 2em;
width: 15em;
display: block;
border: 0.2em solid #D8D8D8;
color: white;
font-family: tahoma, geneva, sans-serif;
font-weight: bold;
text-decoration: none;
text-align: center;
}

#section{
border: 2px solid #9ACD32;
width:50%;
}

<style type="text/css">
    html, body, #map
    {
        height: 100%;
    }
    #map
    {
        width: 100%;
    }
</style>
